<!DOCTYPE html>
<html>
  <head>

<style type="text/css" media="screen">
      body { background-color: #1f9e75; }
      h1 { color: #212121;
           font-size: 48px;
           text-align: center; }
      p {
        color: #212121;
        font-size: 28px;
        text-align: center;
      }
</style>

  </head>
  <body>

<h1>You have a message from <%= @user.name %>.</h1>
<h1>User id is: <%= @user.id %>.</h1>
<h1>You can reply at: <%= @user.email %>.</h1>


</body>
</html>
