<!DOCTYPE html>
<html>
  <head>

<style type="text/css" media="screen">
      body { background-color: #1f9e75; }
      h1 { color: #212121;
           font-size: 48px;
           text-align: center; }
      p {
        color: #212121;
        font-size: 28px;
        text-align: center;
      }
</style>

  </head>
  <body>

<h1>Welcome to Class Sap, <%= @user.name %></h1>
  <p>
    You have successfully signed up to Class Sap!<br>
    Your username is: <%= @user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>


</body>
</html>
