<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Main  welcome -->
<h1>Welcome to Class Sap!</h1>
<h2>Are you a:</h2>

<!-- Different buttons to direct user to correct login page -->
<button type="submit" id="studentBtn"><i class="em em-female-student iclass"></i>Student<i class="em em-books iclass" id="disappear"></i></button><br>
<button type="submit" id="teacherBtn"><i class="em em-female-teacher iclass"></i>Teacher<i class="em em-apple iclass" id="disappear"></i></button>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2019 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/class_sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/support">Contact Us</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>&nbsp;&nbsp;||&nbsp;&nbsp;classsapofficial@gmail.com</p>
    </div>
  </div>

</html>
