<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap for Teachers</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Main welcome -->
<h1>Welcome to Class Sap!</h1>

<!-- Flashes if there are errors with input -->
<div class="errors">
  <% if flash[:register_errors]%>
  <% flash[:register_errors].each do |error| %>
  <p><%=error%>.</p>
  <%end%>
  <%end%>
</div>

<div class="signup">
  <h5>Want to sign up? We just need a little bit of information:</h5>

  <form action="/users" method="POST">

    <!-- Checks for authenticity -->
    <input class="input" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <!-- Input information for new users -->

    <h3>First and Last Name:</h3>

    <input class="input" type="name" name="user[name]" required="true">

    <h3>Email Address:</h3>

    <input class="input" type="email" name="user[email]">

    <h3>Choose a Password:</h3>

    <input class="input" type="password" name="user[password]">

    <h3>Confirm Your Password:</h3>

    <input class="input" type="password" name="user[password_confirmation]">

    <!-- Submit button -->
    <button type="submit" id="signup" name="submit" class="submit">Sign up!</button>

  </form>
</div>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2019 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/class_sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/support">Contact Us</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>&nbsp;&nbsp;||&nbsp;&nbsp;classsapofficial@gmail.com</p>
    </div>
  </div>

</html>
